{% extends 'base.html' %} {% block content %}
<h1>Tasks Pending</h1>

<main class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="list-group">
        {% for task in tasks %}
        <a class="list-group-item" href="{% url 'task_detail' task.id %}">
          {% if task.important %}
          <strong><h1>{{task.title}}</h1></strong>
          {% else %} {{task.title}} {% endif %}

          <p>{{task.description}}</p>
          <p>{{task.user.username}}</p>
          <p>{{task.datecompleted|date:'M j Y:i'}}</p>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</main>

{% endblock %}
